html, body {
  margin: 0;
  height: 100%;
}

#layout {
  display: flex;
  height: 100vh;
}

#nodes {
  width: 240px;
  background: #1e1e1e;
  padding: 10px;
}

#nodes button {
  width: 100%;
  padding: 10px;
  color: white;
  background: #333;
  border: none;
  cursor: pointer;
}

#terminal {
  flex: 1;
  background: black;
}
